{% extends "searchbar.html" %}
{% block title %}Fishy Results{% endblock%}
{% block head %}
{{super()}}
<style type="text/css">
body {
  background-image: url("{{ url_for('static',filename='details.jpg') }}");
}
</style>
{% endblock %}
{% block content %}
{{super()}}
<div class="ui main container">
<div class="ui segments">
	<div class="ui segment">
		<div class="centeri">
			<h1>{{data['title']}}</h1>
		</div>
	</div>
	<div class="ui segment">
		<div class="ui two column grid">
			<div class="column">
				{% if data['picture_url'] == 'None' %}
				<div class="ui inverted placeholder">
						<div class="square image"></div>
				</div>
				{% else %}
				<img class="ui large rounded image" verticalAlign='middle' src="{{data['picture_url']}}"></img>
				{% endif%}
			</div>
			<div class="column">
				<!-- TODO MAKE THIS A TABLE USING SEMANTIC UI -->
				<table class="ui single-line table">
					<div></div>
					<tr><td style="text-align: right">Kingdom:</td><td>{{data['kingdom']}}</td></tr>
					<tr><td style="text-align: right">Phylum:</td><td>{{data['phylum']}}</td></tr>
					<tr><td style="text-align: right">Class:</td><td>{{data['class']}}</td></tr>
					<tr><td style="text-align: right">Order:</td><td>{{data['_order']}}</td></tr>
					<tr><td style="text-align: right">Genus:</td><td>{{data['genus']}}</td></tr>
					<tr><td style="text-align: right">Family:</td><td>{{data['family']}}</td></tr>
					<tr><td style="text-align: right">Species:</td><td>{{data['species']}}</td></tr>
				</table>
				<!-- END TABLE TODO -->
			</div>
		</div>
	</div>
	<div class="ui segment">
	<p>{{data['description']}}</p>
	</div>
	<div class="ui segment">
		<a class="ui inverted primary button" href="/results" >Back To Search</a>
		<a class="ui inverted button" href="https://en.wikipedia.org/wiki/{{data['wiki_url']}}" style="float: right;">Wiki Link</a>
	</div>
<!--<p>wiki_url:{{data[9]}}</p>
<p>picture_url:{{data[10]}}</p>
<p>purchase_url:{{data[11]}}</p> -->
</div>
{% endblock %}

