{% extends "base.html" %}
{% block title %}Fishy Search{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css"></style>
{% endblock %}
{% block content %}
<div class="ui text container">
	<h3 class="ui center aligned header">
<pre>
  ______ _     _              _____                     _     
 |  ____(_)   | |            / ____|                   | |    
 | |__   _ ___| |__  _   _  | (___   ___  __ _ _ __ ___| |__  
 |  __| | / __| '_ \| | | |  \___ \ / _ \/ _` | '__/ __| '_ \ 
 | |    | \__ \ | | | |_| |  ____) |  __/ (_| | | | (__| | | |
 |_|    |_|___/_| |_|\__, | |_____/ \___|\__,_|_|  \___|_| |_|
                      __/ |                                   
                     |___/                                    
</pre>	
	</h1>
	<div class="ui segments">
		<div class="ui inverted segment">
			<form class="ui inverted form" method="get" action="{{ url_for('search') }}">
				<div class="field">
					<label>Search Query</label>
					<div class="ui icon input">
						<input type="text" name="searchterm" placeholder="Search..." value="{{session.get('query','')}}" />
						<i class="search icon"></i>
					</div>
				</div>
				<div class="field">
					<label>Indexing Source</label>
					<div class="ui selection dropdown">
						<input type="hidden" name="indexsource" value="{{session.get('indexsource','whoosh')}}">
						<i class="dropdown icon"></i>
						<div class="default text">Indexing Source</div>
						<div class="menu">
							<div class="item" data-value="whoosh">Whoosh</div>
							<div class="item" data-value="tsvector">Postgresql TsQuery</div>
						</div>
					</div>
				</div>
				<div class="field">
					<label>Results Per Page</label>
					<div class="ui selection dropdown">
						<input type="hidden" name="perpage" value="{{session.get('perpage',10)}}">
						<i class="dropdown icon"></i>
						<div class="default text">Indexing Source</div>
						<div class="menu">
							<div class="item" data-value="10">10</div>
							<div class="item" data-value="25">25</div>
							<div class="item" data-value="50">50</div>
							<div class="item" data-value="100">100</div>
						</div>
					</div>
				</div>
				<button class="ui button" type="submit">Search!</button>
			</form>
		</div>
	</div>
</div>
<script>
$('.ui.dropdown')
	.dropdown()
;
</script>
{% endblock %}
