body {
	display: flex;
	flex-direction: column;
	background-image: url("/static/doris.jpg");
	background-color: #00008B;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.ui.container {
	max-width: 680px !important;
}

.ui.container.grid h1.ui.header {
	margin-top: 1em;
	font-size: 36px;
}

.ui.footer.segment {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	background-color: rgba(25,25,102,0.7);
	color: cyan;
	text-align: center;
}

.ui.segment {
	background-color: rgba(65,162,65,0.5);
}

.ui.notfound.segments {
	background-color: rgba(24, 243, 24, 0.5);
}

.ui.fixed.inverted.menu,
.ui.inverted.segment {
	background-color: rgba(15,15,90,0.8);
}

.ui.button {
	background-color: plum;
}

pre {
	font-family: "Lucida Console", Monaco, monospace;
	letter-spacing: -0.2em;
	line-height: 0.8em;
	text-shadow: 0 0 5px rgba(25,25,25,0.7);
	font-size: 25px;
}

pre.smallest {
	font-size: 7px;
	margin-top: -10px;
	margin-bottom: -10px;
}

.ui.table tr td {
	border-top: 0px !important;
}

.ui.table {
	background-color: rgba(200,200,240,0.4);
}
.ui.selection.dropdown {
	background-color: rgba(230,230,250,0.6) !important;
}
.ui.input input {
	background-color: rgba(230,230,250,0.6) !important;
	color: green;
}

#push {
	clear:both;
	flex: 1;
	margin-bottom: 70px;
}

.ui.pagination.menu {
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(221,160,221 ,0.7 ) !important;
}